/*******************************
GLOBAL STYLES
********************************/

body {
  font-size: 16px;
  font-family: $font-regular;
  color: $black;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.4s all ease;
}

.app {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.pageNotFound {
  text-align: center;

  &__heading {
    color: $black;
    font-size: 2rem;
    margin-top: 4rem;
  }

  &__link {
    flex-direction: column;
    min-width: 6rem;
    margin-top: 0;
    padding: 1rem 3rem;
    background-color: #f54e75;
    color: #ffffff;
    border-radius: 5px;

    &:hover {
      background-color: #b70a32;
    }
  }
}
